{% extends 'blog/base.html' %}

{% block head_title %} {{block.super}} | Statistics {% endblock head_title %}

{% block content %}
	<div>
		<ul class="nav flex-column" aria-orientation="vertical">
		  <li class="nav-item"><a class="nav-item" href="{% url 'statistics' %}" >Overall</a></li>
		  <li class="nav-item"><a class="nav-item" href="{% url 'statistics_h2h'%}" >Head to Head</a></li>
		  <li class="nav-item"><a class="nav-item" href="{% url 'statistics_player'%}" >Player</a></li>
		  <li class="nav-item"><a class="nav-item" href="{% url 'statistics_season'%}" >Season</a></li>
		</ul>
	</div>
	<hr>

	{% block statscontent %}{% endblock %}	


{% endblock %}

