{% extends 'blog/base.html' %}

{% block content %}
  

        <div>
            <form name="searchform" method='GET' action=''>
                <div class='input-group'>                   
                    <input class="form-control" type='text' name='search_query' placeholder='Search posts' value='{{ request.GET.search_query }}'/><span class="input-group-addon" onclick="searchform.submit()"><i class="fa fa-search fa-fw"></i></span>
                </div>
        </div>


    {% for post in posts %}

        <div class="">
            {%if post.image %}
            <a href="{% url 'post_detail' slug=post.slug %}">
            <img src='{{post.image.url}}' class='img-responsive'/>
            </a>
            {% endif %}
            <div class="caption">

                <h2><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }} {% if post.draft %} <span style='color:red;'>- Draft</span>{% endif %}</a></h2>
               
                <p>Author: <a href="/">{{post.author.first_name}}</a></p>
                <div class="date">
                    <p>published: {{ post.publish_date | timesince }} ago</p>
                </div>
                <p>{{ post.get_html|truncatechars:500 }}</p>
                <p><a href="{% url 'post_detail' slug=post.slug %}">read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>

            </div>

        </div>
        <hr>
        
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a class="btn btn-primary btn-small" href="?page={{ posts.previous_page_number }}{% if request.GET.search_query%}&search_query={{ request.GET.search_query }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            page {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a class="btn btn-primary btn-small" role="button" href="?page={{ posts.next_page_number }}{% if request.GET.search_query%}&search_query={{ request.GET.search_query }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>

{% include 'blog/js.html' %}
<script type="text/javascript">

{% block jquery %}

    $(document).ready(function(){
        $(".content-markdown img").each(function(){
            $(this).addClass("img-responsive")
        })
    })

{% endblock %}
</script>

{% endblock %}		        
