{% extends 'blog/base.html' %}

{% block head_title %} {{block.super}} | {{ post.title }} {% endblock head_title %}

{% block content %}

        {% if user.is_staff or user.is_superuser %}
            <a class="btn btn-default" href="{% url 'post_edit' slug=post.slug %}"></a>
        {% endif %}

        <h2><a href="{% url 'post_list' %}">{{ post.title }} {% if post.draft %}<span style='color:red;'>- Draft</span>{% endif %} </a></h2>{% if user.is_staff or user.is_superuser %}<a class="btn btn-default" href="{% url 'post_edit' slug=post.slug %}"> <i class="fa fa-pencil" aria-hidden="true"></i></a>{% endif %}

        <div>

        {%if post.image %}
            <img href="{% url 'post_detail' slug=post.slug %}" src='{{post.image.url}}' width="{{ post.image.width }}" height="{{ post.image.height }}" class='img-responsive img-posts' />
        {% endif %}

        <div>


        <br>
        
        <p>Posted by <a href="/">{{post.author.first_name}} {{post.author.last_name}}</a></p>
        <div class="date">
            <p>published: {{ post.publish_date |timesince }} ago</p>
        </div>

        <div class="img">{{ post.get_html }}</div>

{% endblock %}