{% extends 'blog/base.html' %}
 

{% block content %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

<div>
	<h2><a>{% block title %}Add Season Points{% endblock %}</a></h2> 
		<p>Logged in as <b>{{request.user}}</b></p>
		<p>Add Season Points Here</a></p>

</div>


<div>
	<form action="" method="post">{% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" value="Add" />
	</form>
</div>

<br>

<!-- <div>
    <form name="searchform" method='GET' action=''>
        <div class='input-group'>                   
            <input class="form-control" type='text' name='search_query' placeholder='Search posts' value='{{ request.GET.search_query }}'/><span class="input-group-addon" onclick="searchform.submit()"><i class="fa fa-search fa-fw"></i></span>
        </div>
</div> -->

<br>

<div>

	<table class='table table-hover'>
		<thead>
			<tr>
				<th>Coin</th>
				<th>Price</th>
				<th>24 Hour %</th>
			</tr>
		</thead>

				{% for obj in price_list %}
		<tbody>
			<tr>
				<!-- <td> {{forloop.revcounter}} </td> -->
				<td>{{ obj.name }} </td>
				<td>{{obj.price_usd}}</td>
				<td>{{obj.percent_change_24h}}</td>
			</tr>
		</tbody>
				{% endfor %}
	
	</table>



</div>

<div id="container"></div>


<script type="text/babel">

	ReactDOM.render(
	  <h1>This is a ReactJS test!</h1>,
	  document.getElementById("container")
	);

</script>


{% endblock %}