

      	<div class="sidebar-nav">
            <div class="well" style="width:100%; padding: 12px;">
        		<ul class="nav nav-list">         
        		  <li><a href="{% url 'about' %}"><i class="icon-home"></i> About</a></li>
        		  <li><a href="{% url 'statistics'%}"><i class="icon-edit"></i> Statistics</a></li>
                  <li><a href="{% url 'add_results'%}"><i class="icon-calendar"></i> Add Results</a></li>
        		  <li><a href="{% url 'login'%}"><i class="icon-user"></i> Login</a></li>
        		  <li><a href="{% url 'logout'%}"><i class="icon-comment"></i> Logout</a></li>
        		</ul>
        	</div>
        </div>