<div class="vertical-menu">
  <a href="{% url 'about' %}">About</a>
  <a <a href="{% url 'statistics'%}">Statistics</a>
  <a href="{% url 'add_results'%}">Add Results</a>
  <a <a href="{% url 'login'%}">Login</a>
  <a href="{% url 'logout'%}">Logout</a>
</div>

<!--    
      <ul id="nav-item">
        <li class="nav"><a href="{% url 'about' %}">About</a></li>              
        <li class="nav"><a href="{% url 'statistics'%}">Statistics</a></li>
        <li class="nav"><a href="{% url 'add_results'%}">Add Results</a></li>
        <li class="nav"><a href="{% url 'login'%}">Login</a></li>
        <li class="nav"><a href="{% url 'logout'%}">Logout</a></li>
      </ul>
      -->