
{% extends 'blog/base_statistics.html' %}

{% block statscontent %}

<div class="tab-content">

	<h2><a id="">Seasons</a></h2>
	<p>To search a specific season, use double quotes -- e.g. "Season 2"</p>

	<table id="data-table" class="table table-bordered table-striped table-hover" cellspacing="0" width="100%">
		<thead>
			<tr>
				<td>Season</td>
				<td>Games</td>
				<td>Manager</td>
				<td>Wins</td>
				<td>Ties</td>
				<td>Losses</td>			
				<td>Goals</td>
				<td>GA</td>				
				<td>GD</td>
				<td>Tot Pts</td>
			</tr>
		</thead>


	</table>

</div>

{% endblock %}


<script type="text/javascript">

{% block jquery %}
var endpoint = '/api/chart/seasondata/';
$('#data-table').DataTable({
	paging: true,
	lengthMenu: [[6, 12, 18, 24, -1], [6, 12, 18, 24, "All"]],
	order: [[ 0, "desc" ]],
    ajax: {
        url: endpoint,
        dataSrc: '' 
    },
    columns: [
			{ "data": "season"},
			{ "data": "games"},
			{ "data": "manager"},
			{ "data": "wins"},
			{ "data": "ties"},
			{ "data": "losses"},			
			{ "data": "goals"},
			{ "data": "GA"},
			{ "data": "GD"},
			{ "data": "points"}
    ]
});
	 

{% endblock jquery %}

</script>

