{% extends 'blog/base_statistics.html' %}

<script>
{% block jquery %}
var endpoint = '/api/chart/data/';


$.ajax({
	method: "GET",
	url: endpoint,
	success: function(data){
		labels = data.manager_name
		defaultData_points = data.total_points //This represents game points
		defaultData_ovr_season_pts = data.ovr_season_pts
		defaultData_wins = data.number_wins
		defaultData_ties = data.number_ties
		defaultData_losses = data.number_losses
		renderChart()
			
	},
	error: function(error_data){
		console.log("error")
		console.log(error_data)
	}
});



function renderChart() {
	var ctx = document.getElementById("myChart");
	var setBorderWidth = 1;
	var myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: labels,
	        datasets: [{
	            label: 'Overall Season Points',
	            data: defaultData_ovr_season_pts,
	            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255,99,132,1)',
                borderWidth: setBorderWidth
	            }, {
	            label: 'Wins',
	            data: defaultData_wins,
	            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: setBorderWidth,
                hidden: true,
	            }, {
	            label: 'Ties',
	            data: defaultData_ties,
	            backgroundColor: 'rgba(255, 206, 86, 0.2)',
                borderColor: 'rgba(255, 206, 86, 1)',
                borderWidth: setBorderWidth,
                hidden: true,
	            }, {
	            label: 'Losses',
	            data: defaultData_losses,
	            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: setBorderWidth,
                hidden: true,

	           }]
	        },
	    options: {
	    	legend: {
	    		position: 'bottom'
	    	},
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                }
	            }]
	        },
	        title: {
            display: true,
            text: 'Total Results'
        	}	
	    }
	});
};


{% endblock jquery %}

</script>



{% block statscontent %}

<div class="tab-content">
    <h2><a>Overall</a></h2>

    <div class= col-md-12>
		<canvas id="myChart" width="400" height="400"></canvas>
		<p> <i>Click a legend option to remove from the chart.</i></p>
	</div>

	<br>
	<hr>
</div>

{% endblock %}
