{% extends 'blog/base.html' %}



<script>
{% block jquery %}

var endpoint = '/api/chart/data/';
// var labels = [];
// var defaultData = [];


$.ajax({
	method: "GET",
	url: endpoint,
	success: function(data){
		labels = data.manager_name
		defaultData_points = data.total_points
		defaultData_wins = data.number_wins
		defaultData_ties = data.number_ties
		defaultData_losses = data.number_losses
		renderChart()
			
	},
	error: function(error_data){
		console.log("error")
		console.log(error_data)
	}
});



function renderChart() {
	var ctx = document.getElementById("myChart");
	var setBorderWidth = 1;
	var myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: labels,
	        datasets: [{
	            label: 'Points',
	            data: defaultData_points,
	            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255,99,132,1)',
                borderWidth: setBorderWidth
	            }, {
	            label: 'Wins',
	            data: defaultData_wins,
	            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: setBorderWidth
	            }, {
	            label: 'Ties',
	            data: defaultData_ties,
	            backgroundColor: 'rgba(255, 206, 86, 0.2)',
                borderColor: 'rgba(255, 206, 86, 1)',
                borderWidth: setBorderWidth
	            }, {
	            label: 'Losses',
	            data: defaultData_losses,
	            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: setBorderWidth

	           }]
	        },
	    options: {
	    	legend: {
	    		position: 'bottom'
	    	},
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                }
	            }]
	        },
	        title: {
            display: true,
            text: 'Total Results'
        	}	
	    }
	});
};



{% endblock %}
</script>

{% block head_title %} {{block.super}} | Statistics {% endblock head_title %}

{% block content %}

    <h2><a>Statistics</a></h2>

    <div class= col-md-12>
		<canvas id="myChart" width="400" height="400"></canvas>
		<p> <i>Click a legend option to remove from the chart.</i></p>
	</div>

<div>
	{% if view.get_goals %}
		<h2><a id="">Goal Scorers</a></h2>
		<div class="table-responsive">
			<table class='table table-hover'>
				<thead>
					<tr>
						<th>Manager</th>
						<th>Player</th>
						<th>Opponent</th>	
						<th>Total Goals</th>		
					</tr>
				</thead>

				{% for instance in view.get_goals %}	
	
				<tbody>
					<tr>
						<td>{{instance.mgr}}</td>
						<td>{{instance.player}}</td>
						<td>{{instance.opponent_scored_on}}</td>
						<td> {{instance.tot_goals}}</td>
					</tr>
				</tbody>
				{% endfor %}
			</table>
		</div>
</div>

<!-- <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a class="" href="?page={{ posts.previous_page_number }}{% if request.GET.search_query%}&search_query={{ request.GET.search_query }}{% endif %}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</a>
        {% endif %}

        <span class="current">
            page {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a class="" role="button" href="?page={{ posts.next_page_number }}{% if request.GET.search_query%}&search_query={{ request.GET.search_query }}{% endif %}">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        {% endif %}
    </span>
</div> -->



{% endif %}

{% endblock %}
