a:hover {    
    text-decoration: none;
}


h1 a {
    color: #5F9EA0;
}


body {
    width: 100%;
    margin-bottom:175px;
}


.page-header {
    background-color: #5F9EA0;
    margin-top: 0px;
    padding: 20px 20px 30px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    margin-left: 0px;
    text-decoration: none;
}

.page-header p {
    color: #eee;
    margin-left: 0px;
    text-decoration: none;
    font-style: oblique;
    text-indent: 20px;
}


.content {
    padding-top:20px;
    padding-bottom:20px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}



html {
  position: relative;
  min-height: 100%;
}

.footer {
  padding: 2.5rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #eee;
  text-align: center;
  vertical-align: center;
  border-top: .05rem solid #e5e5e5;
}

.container {
  width: auto;
  max-width: 680px;
}

.container .text-muted {
  margin: 20px 0;

}

/*This adds vertical space between image of a blog post and the "posted by"*/
.caption { 
  padding-top: 15px;
}

/*This displays the radio button options horizontally.*/
/*.radio {
  display:inline-block;
}*/

